%div{:class=>"signin_form"}
  %br
  %h3{:class=>"tag_line"}
    Sign in
  %hr
  -form_for(:session, :url => sessions_path) do |f|
    %div{:class=>'field'}
      =f.label :email
      &nbsp; &nbsp;
      =f.text_field :email  ,:class=>"text_field"
    %div{:class=>"field"}
      =f.label :password
      &nbsp; &nbsp;
      =f.password_field :password ,:class=>"text_field"
    %br
    %div{:class=>"actions field"}
      =f.submit "sign in"
  %br
  %p{:style=>"text-align:right"}
    New Users &nbsp;
    = link_to "Sign up now", signup_path