%div{:class=>"tag_line"}
  %span{:style=>"color:black"}
    Got lost in conversation?
  %span{:style=>"color:grey;font-size:14px"}
    Sociarate provide you with the insights on the happenings around you
    %br
    %br
  %span{:class=>"interest_link" ,:style=>"padding-left:0px;"}
    Latest
  %span{:class=>"interest_link"}
    Popular
  %span{:class=>"interest_link"}
    Trending

  %span{:style=>"float:right;font-size:12px;"}

    &nbsp;
    =text_field(:date,:line,:class=>"date_line",:style=>"color:grey;padding-left:10px;width:150px;",:value=>"Since ....")
  %hr


%div{:class=>"all_images"}
  %ul{:class=>"all_drop_ables"}
    -(1..6).each_with_index do |index|
      %li
        %ul
          %div
          %li{:class=>"drop_able_place"}

          %li{:class=>"draggable_profile"}



%div{:class=>"all_images"}
  %div
    %a{:href=>"../pages/#{@id + 1}"}
      =image_tag("/images/arrow_right.png",:class=>"right_arrow")
  %div
    %a{:href=>"../pages/#{@id - 1}"}
      =image_tag("/images/arrow_left.png",:class=>"left_arrow")


  %ul{:class=>"all_draggable_image"}
    -@images.each_with_index do |image,index|
      %li

        %ul{:class=>"image_and_profile_#{index}"}
          %div{:style=>"position:absolute;z-index:2;margin:0;padding-left:100px"}
            1020 seen it
          %li
            =image_tag("/images/boards/#{image}",:class=>"board_images")
          %li
            %br
            Sebastian Lee
            -(0..index).each do |count|
              -unless count == 5
                =image_tag("/images/g-icon-new-favourite.png",:class =>"rating_stars")
            %br

=image_tag('/images/trashbin.png',:class=>"trashbin")
=image_tag('/images/leopard-folder.png',:class=>"folder")




-#  =link_to "Sign up now!", '#', :class => "signup_button"

