%div{:class=>"tag_line"}
  %span{:style=>"color:black"}
    Got lost in conversation?
  %span{:style=>"color:grey;font-size:14px"}
    Sociarate provide you with the insights on the happenings around you
    %br
    %br
  %span{:class=>"interest_link" ,:style=>"padding-left:0px;"}
    Parties
  %span{:class=>"interest_link"}
    Events
  %span{:class=>"interest_link"}
    Charity
    %br
    %hrs

%div{:class=>"all_images"}
  %ul{:class=>"all_drop_ables"}
    -(1..6).each_with_index do |index|
      %li
        %ul
          %div
          %li{:class=>"drop_able_place"}

          %li{:class=>"draggable_profile"}



%div{:class=>"all_images"}
  %div
    %a{:href=>"../pages/#{@id + 1}"}
      =image_tag("/images/arrow_right.png",:class=>"right_arrow")
  %div
    %a{:href=>"../pages/#{@id - 1}"}
      =image_tag("/images/arrow_left.png",:class=>"left_arrow")


  %ul{:class=>"all_draggable_image"}
    -@images.each_with_index do |image,index|
      %li
        %ul{:class=>"image_and_profile_#{index}"}
          %div
          %li
            =image_tag("/images/boards/#{image}",:class=>"board_images")
          %li
            %br
            Sebastian Lee
            -(0..index).each do |count|
              -unless count == 5
                =image_tag("/images/g-icon-new-favourite.png",:class =>"rating_stars")
            %br
              &nbsp;




-#  =link_to "Sign up now!", '#', :class => "signup_button"

