%html
  = stylesheet_link_tag 'screen' , 'sociarate' ,'http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Bitter','jquery_ui','user'

  = javascript_include_tag 'jquery','jquery_ui','application'

  -#%body
  -#  %div{:class=>"container"}
  -#    %header
  -#      =render 'layouts/header'
  -#    %section{:class=>"round"}
  -#      -flash.each do|key,value|
  -#        %div{:class=>"flash #{key}"}
  -#          =value
  -#      =yield
  -#    %footer
  -#      =render 'layouts/footer'
  -#    = debug(params) if Rails.env.development?

  %body
    %header.clearfix

      =render 'layouts/header'
    %section{:class=>"container"}
      =yield
    %footer
      =render 'layouts/footer'
